<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cv_model_gen -->
      <package
            uri="https://curriculum_vitae"
            class="curriculum_vitae.Curriculum_vitaePackage"
            genModel="model/cv_model_gen.genmodel"/>
   </extension>

</plugin>
